.u-section-1 .u-sheet-1 {
  min-height: 1134px;
}

.u-section-1 .u-image-1 {
  width: 1109px;
  height: 795px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 41px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 16px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 674px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 516px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 244px;
  }
}